<div>
    <h3 style="text-align: center;">BOOKMARK EXPORTER</h3>
    <br>
    <p>Select Export Format:</p>
    <button class="btn" style="margin: 6px;
    padding: 10px 20px;
    font-size: 10px;
    background-color: #0275d8;
    color: white;" (click)="exportToCSV()"><strong>.CSV</strong></button>
    &nbsp;
    <button class="btn" style="margin: 6px;
    padding: 10px 20px;
    font-size: 10px;
    background-color: #0275d8;
    color: white;" (click)="exportToPDF()"><strong>.PDF</strong></button>
    &nbsp;
    <button class="btn" style="margin: 6px;
    padding: 10px 20px;
    font-size: 10px;
    background-color: #0275d8;
    color: white;" (click)="exportToDOCX()"><strong>.DOCX</strong></button>
</div>
